@tailwind base;
@tailwind components;
@tailwind utilities;

img,
button {
  user-select: none;
}

body {
  background-color: theme("colors.light");
  padding-bottom: theme("spacing.8");
  min-height: 110vh;
}

::selection {
  background-color: theme("colors.primary");
  color: theme("colors.white");
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.swiper {
  width: 100%;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  --swiper-theme-color: theme("colors.white");
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: theme("colors.light");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.lightBorder");
}
