@tailwind base;
@tailwind components;
@tailwind utilities;

img,
button {
  user-select: none;
}

body {
  --swiper-theme-color: theme("colors.white");
  background-color: theme("colors.light");
  padding-bottom: theme("spacing.8");
  min-height: 100vh;
}

::selection {
  background-color: theme("colors.primary");
  color: theme("colors.white");
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.swiper {
  width: 100%;
}
